@use "../abstracts" as *;

.header
{
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;

    @media only screen and (max-width:$bp-500)
    {
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }

}


.logo
{
    height: 3.25rem;
    margin-left: 2rem;
}

.search
{
    flex: 0 0 40%;
    @include dFlexCenterCenter;

    @media only screen and (max-width:$bp-500)
    {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2);
        border-radius: 100px;

    }

    &__input
    {
        font-family: inherit;
        font-size: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        color: inherit;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: var(--transitionAll-2s);
        margin-right: -3.5rem;

        &:focus
        {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);

        }

        &::placeholder
        {
            font-weight: 100;
            color: var(--color-grey-light-4)
        }
    }

    &__input:focus+&__button
    {
        background-color: var(--color-grey-light-3);
    }

    &__button
    {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus
        {
            outline: none;
        }

        &:active
        {
            transform: translateY(2px);
        }
    }

    &__icon
    {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3)
    }
}

.user-nav
{
    align-self: stretch;

    display: flex;
    // margin-right: 3rem;
    align-items: center;

    &>*
    {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        align-self: center;
        display: flex;
        align-items: center;
    }

    &>*:hover
    {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box
    {
        position: relative;
    }

    &__icon
    {
        height: 3rem;
        width: 3rem;
        fill: var(--color-grey-dark-2);


    }

    &__notification
    {
        font-size: .8rem;
        height: 2rem;
        width: 2rem;
        border-radius: 100%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.1rem;
        right: 1.2rem;
        @include dFlexCenterCenter;
    }

    &__user-photo
    {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}