@use "../abstracts" as *;

.list
{
    margin: 3rem 0;
    list-style: none;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width:$bp-375)
    {
        flex-direction: column;
    }



    &__item
    {
        flex: 0 0 50%;
        margin-bottom: .7rem;
        display: flex;
        align-items: center;

        &::before
        {
            content: "";
            display: inline-block;
            background-image: url(../img/chevron-thin-right.svg);
            background-size: cover;
            width: 1.2rem;
            height: 1.2rem;
            margin-right: .7rem;

            @supports(-webkit-mask-image: url()) or (mask-image: url())
            {
                background-color: var(--color-primary);
                -webkit-mask-image: url(../img/chevron-thin-right.svg);
                mask-image: url(../img/chevron-thin-right.svg);
                -webkit-mask-size: cover;
                mask-size: cover;
                background-image: none;
            }


        }
    }
}